p {
  color: white;
  /* font-family: 'Architects Daughter', cursive; */
}
.showmyprofile {
 border-top:2px;
 width: 80vw;
 /* text-align: right; */
 background-color:rgba(255, 192, 203, 0.4);
 border-radius: 15px 15px 15px 15px;
 color:white;
}
.result{
   font-family: 'Beau Rivage', cursive;
   font-size: 25px;
  
}
.showRepositories{
  font-family: 'Architects Daughter', cursive;
}
