p {
  color: white;
  /* font-family: 'Architects Daughter', cursive; */
}
.showmyprofile {
 border-top:2px;
 width: 80vw;
 /* text-align: right; */
 background-color: rgba(0, 0, 255, 0.4);
 border-radius: 15px 15px 15px 15px;
 color:white;
}
