<div class="container-fluid">
<div class="input-group mb-3 sm-w-100 w-50 mx-auto rounded-3">
  <input type="text" placeholder="Enter user name to see profile" class="form-control d-flex justify-content-center " [(ngModel)]="profile" (keyup.enter)="search(profile)"/>
</div>
<div class="container showmyprofile">
 <div class="profile-repo  text-light w-100 rounded-3">
      <!--* Display Profile-->
    <div *ngIf="user">
      <h3 class="panel-title text-center">{{ user.name }}</h3>
          <div class="row">
            <div class="col-md-4">
              <img style="border-radius:50%;" class="img-thumbnail github-avatar" src="{{ user.avatar_url }}"/>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7 d-flex m-auto lead">
                <div class="d-flex flex-column justify-content-evenly align-content-center">
                  <div>
                    <span>Public Repositories: </span>
                    <span class="label label-default fw-bold result">{{ user.public_repos }}</span>
                  </div>
                  <div>
                    <span>Followers: </span>
                    <span class="label label-success fw-bold result">{{ user.followers }}</span>
                    </div>
                  <div>
                    <span>Following: </span>
                    <span class="label label-info fw-bold result" >{{ user.following }}</span>
                  </div>
                  <div>
                    <span>Location: </span>
                    <span class="label label-info fw-bold result">{{ user.location }}</span>
                  </div>
                  <div>
                    <span>Joined Github on: </span>
                    <span class="label label-info fw-bold result">{{ user.created_at | date: "mediumDate" }}
                    </span>
                    </div>
                   </div>
                </div>
                <br />
              </div>
            </div>
          </div><br>
          <!--Repositories and their description display-->
          <div class="showRepositories">
         <h2 class=" text-center">Repositories</h2><br>
            <div class="row">
                <div class="col-md-12">
                  <div *ngFor="let repo of repos">
                    <div class="row">
                      <div class="col-md-8">
                        <h4>
                          <a  class= "text-light "href="{{ repo.html_url }}" target="_blank">{{
                            repo.name
                          }}</a>
                        </h4>
                        <p>{{ repo.description }}</p>
                      </div>
                      <div class="col-md-3">
                        <div>
                          <span class="label label-default mx-2"
                            >{{ repo.watchers }} Watchers</span
                          >
                          <span class="label label-primary mx-2"
                            >{{ repo.forks }} Forks</span
                          >
                        </div>
      
                        <div class="label label-primary mx-2">
                          Created on: {{ repo.created_at | date }}
                        </div>
                      </div>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          
          </div>
      </div>
        

