.showmyRepositories {
    border-top:2px;
    width: 60vw;
    /* text-align: right; */
    background-color:rgba(255, 192, 203, 0.4);
    border-radius: 15px 15px 15px 15px;
    color:white;
    margin-left:20%;
   }