
    <p class="head">Know someone on Github??</p>
        
            <form class="form-inline active-cyan-4">
              <input class="input-group mb-3 sm-w-100 w-50 mx-auto rounded-3" type="text" placeholder="Enter user name to see profile..."  name="searchName" [(ngModel)]="username" (keyup.enter) ="findProfile()"  aria-label="Search" >
              <!-- <button class="btn btn-info" (click) = "findProfile()" style="color: black;"> <i class="fa fa-search" aria-hidden="true" style="color: black;"></i> Search </button> -->
            </form>
        
         
       
      <br>

<div class="showmyProfile">
    <div *ngIf="profile">
        <h3 class="panel-title text-center">{{ profile.name }}</h3>
        
            <div class="row">
              <div class="col-md-4">
                <img style="border-radius:50%;" class="img-thumbnail github-avatar" src="{{ profile.avatar_url }}"/>
                <p>{{ profile.bio}}</p>
              </div>
                <div class="col-md-1"></div>
                <div class="col-md-7 d-flex m-auto lead">
                  <div class="d-flex flex-column justify-content-evenly align-content-center">
                    <div>
                      <span>Public Repositories: </span>
                      <span class="label label-default fw-bold result">{{ profile.public_repos }}</span>
                    </div>
                    <div>
                      <span>Followers: </span>
                      <span class="label label-success fw-bold result">{{ profile.followers }}</span>
                      </div>
                    <div>
                      <span>Following: </span>
                      <span class="label label-info fw-bold result" >{{ profile.following }}</span>
                    </div>
                    <div>
                      <span>Location: </span>
                      <span class="label label-info fw-bold result">{{ profile.location }}</span>
                    </div>
                    <div>
                      <span>Joined Github on: </span>
                      <span class="label label-info fw-bold result">{{ profile.created_at | date: "mediumDate" }}
                      </span>
                      </div><br>
                      <a href="{{profile.html_url}}"><p class="text-center">View Profile on Github</p> </a>
                     </div>
                  </div>
                  <br />
                </div>
              </div>
  
</div>



