<div class="showRepositories">
    <h2 class=" text-center">Repositories</h2><br>
       <div class="row">
           <div class="col-md-12">
             <div *ngFor="let repo of repos">
               <div class="row">
                 <div class="col-md-8">
                   <h4>
                     <a  class= "text-light "href="{{ repo.html_url }}" target="_blank">{{
                       repo.name
                     }}</a>
                   </h4>
                   <p>{{ repo.description }}</p>
                   <div>
                     <span>Clone: </span>
                    <a href="{{ repo.clone_url}}" ><span class="label label-primary ">{{ repo.clone_url}}</span></a>
                   </div>
                 </div>
                 <div class="col-md-3">
                   <div>
                     <span class="label label-default mx-2"
                       >{{ repo.watchers }} Watching</span
                     >
                     <span class="label label-primary mx-2"
                       >{{ repo.forks }} Forks</span
                     >
                   </div>
 
                   <div class="label label-primary mx-2">
                     Created on: {{ repo.created_at | date }}
                   </div>
                   <div class="label label-primary mx-2">
                     Last Updated on: {{ repo.pushed_at | date }}
                   </div>
                   <!-- <div class="label label-primary mx-2">
                     Clone: {{ repo.clone_url}}
                   </div> -->
                   
                 </div>
               </div>
               <hr />
             </div>
           </div>
         </div>
       </div>
