/* You can add global styles to this file, and also import other style files */
body {
    /* font-family: 'Architects Daughter', cursive; */
    /* font-family: 'Beau Rivage', cursive; */
    font-family: 'Courgette', cursive;
    padding:1px;
    margin:1px;
    background-image: url("https://media.istockphoto.com/photos/abstract-blue-background-minimal-geometric-background-for-use-in-picture-id1221025677?b=1&k=20&m=1221025677&s=170667a&w=0&h=7ifCf2jcgMPJEXQ_1VS09j3VbTq6Yu_lWUAbOnBHkDY=");
    background-repeat: no-repeat;
    background-size: cover;
    

}